<div class="container">
  <footer class="footer">
    <small><%= image_tag('publicdomain.png', :alt => "CC0 Public Domain logo") %></small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>
